api/src/main/resources/CalculadoraService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rcm.poc/CalculadoraService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculadoraService" targetNamespace="http://rcm.poc/CalculadoraService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://rcm.poc/CalculadoraService/">
      <xsd:element name="Argumentos" type="tns:ArgumentosType">
      </xsd:element>
      <xsd:element name="Resultado" type="tns:ResultadoType">
      </xsd:element>
    
      <xsd:complexType name="ArgumentosType">
      	<xsd:sequence>
      		<xsd:element minOccurs="2" maxOccurs="unbounded" name="Sumando" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ResultadoType">
      	<xsd:sequence>
      		<xsd:element name="Valor" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sumarRequest">
    <wsdl:part element="tns:Argumentos" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sumarResponse">
    <wsdl:part element="tns:Resultado" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CalculadoraService">
    <wsdl:operation name="sumar">
      <wsdl:input message="tns:sumarRequest"/>
      <wsdl:output message="tns:sumarResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculadoraServiceSOAP"
  	type="tns:CalculadoraService">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="sumar">
  		<soap:operation
  			soapAction="http://rcm.poc/CalculadoraService/sumar" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculadoraService">
    <wsdl:port binding="tns:CalculadoraServiceSOAP" name="CalculadoraServiceSOAP">
      <soap:address location="http://rcm.poc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
